<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dnkencie</title>
</head>
<body>
    <h2 style='text-align:center'>Welcome to dnkencie!</h2><br/>
    <hr>
    <br>
    <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, voluptatum dignissimos officia molestias, beatae in temporibus iure a
        b dolores nemo recusandae perferendis modi voluptate qui aut repudiandae dicta optio. Ut.</h4>
    <div class="elyorbek"><p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla assumenda, esse facere optio maiores, eos nesc\
        iunt rerum quia modi animi laboriosam incidunt. Placeat, magni praesentium ipsam aperiam quam odio excepturi!</i></p></div>
</body>
</html>